@use "sass:color";
@use 'variables' as *;
@use 'auth' as *;
@use 'negotiator' as *;
@use 'leaderboard' as *; 
* {
  box-sizing: border-box;
  font-family: $font-main;
  margin: 0;
  padding: 0;
}

body {
  // We keep the main gradient background here so the whole app looks cohesive
  background: linear-gradient(135deg, $bg-gradient-start, $bg-gradient-end);
  background-attachment: fixed;
  min-height: 100vh;
  color: $text-dark;
  -webkit-font-smoothing: antialiased;
}


.is-current-user {
    background-color: #FFD93D;
    &:hover {
      background-color: color.adjust(#FFD93D, $lightness: 5%);
    }
}